# Virtual Environment
venv/
.venv/

# Python Cache
__pycache__/
*.py[cod]
*.pyo

# Environment Variables
.env

# Audio Files
temp.mp3

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# Logs
*.log

# Build Files
build/
dist/
*.egg-info/